body {
  background-color: black;
  color: white;
}

Header {
  display: flex;
  justify-content: center;
}

Header {
  font-family: Garamond, serif;
}

Nav {
  display: flex;
  justify-content: center;
}

.flexbox-container {
  display: flex;
  justify-content: center;
}

.form-flex {
  display: flex;
  justify-content: center;
}

.theBttn {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: goldenrod;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.restroom-search {
    text-align: center;
}

.no-match {
    font-size: 2.5em;
    text-align: center;
    padding: 5%;
}

input {
    color: rgb(241, 240, 240);
}

#query {
    width: 15%;
}

.card {
  border: goldenrod solid 2px;
  border-radius: 10px;
  background-color: black;
  padding: 20px;
  margin: 20px;
  transition: .5s;
}

.card:hover {
  background-color: goldenrod;
  color: black;
  cursor: pointer;
}

.card-title {
  font-size: large;
  border-bottom: solid rgb(165, 165, 165) 1px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    #query {
        width: 50%;
    }
}