body {
    background-color: black;
    color: white;
} 

Header {
    display: flex;
    justify-content: center;
}

Header {
    font-family: Garamond, serif; 
}

Nav {
    display: flex;
    justify-content: center;
}

.flexbox-container {
    display: flex;
    justify-content: center;
}

.form-flex{
    display: flex;
    justify-content: center;
}



.theBttn {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: goldenrod;
    color: black
}

footer {
    display: flex;
    justify-content: center;
}

ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }